$colorPrimario: #0e0d0c;
$colorSecundario: #171818;
$colorTipografiaDorada: #dec696;

%border{
    border: red solid 1px;
}

%boton{
    display: block;
    width: 180px;
    height: 30px;
    color: $colorTipografiaDorada;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 6px;
    border: $colorTipografiaDorada solid 1px;
    text-align: center;
    &:hover{
        width: 180px;
        height: 30px;
        color: white;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 6px;
        border: $colorTipografiaDorada solid 1px;
        text-align: center;
        background-color: rgb(222, 198, 150);
    }
}