.nuestrasEspecialidadesPageMenuH1{
    @extend %titulosH1;
}

.pagesA{
    @extend %pagesA;
}

.nuestrasEspecialidadesPageMenu{
    width: auto;
    height: auto;
    background-color: $colorSecundario;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 30px;    
    a{
        @extend %boton;
    }
}

.PageMenuCocktails{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/2;
}

.imgPagueMenuCocktails{
    width: 300px;
    height: 400px;
    background-image: url(../multimedia./img./especialidades/TRAGOOP.png);
    background-size: cover;
    background-position: center center;
}

.PageMenuMenu{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    grid-column: 2/3;

}

.imgPagueMenuMenu{
    width: 300px;
    height: 400px;
    background-image: url(../multimedia./img./especialidades/PLATOOP.png);
    background-size: cover;
    background-position: center center;
}

.PageMenuCava{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    grid-column: 3/4;
}

.imgPagueMenuCava{
    width: 300px;
    height: 400px;
    background-image: url(../multimedia./img./especialidades/VINOOP.png);
    background-size: cover;
    background-position: center center;
}