*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* inicio index.html borgia */
/* inicio navegador */
.navegador {
    width: 100%;
    height: auto;
    background-color: rgb(14, 13, 12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    img{
        width: 200px;
        object-fit: cover;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        gap: 20px;
        li{
            width: 80px;
            padding: 10px;
            text-align: center;
            a {
                color: white;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                width: 80px;
            }
        }
    }
}

.reserva{
    border: white solid 1px;
    padding: 10px;
    text-align: center;
    &:hover{
        color: black;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px;
        width: 100px;
        text-align: center;
        background-color: white;
    }
}

/* fin navegador */

/* inicio header */
.encabezado {
    background-image: url(../multimedia./img./header/VISTA.jpg);
    background-position: center bottom;
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoHeader{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.logoHeaderImg{
    background-image: url(../multimedia./img./header/HEADER.png);
    background-size: cover;
    width: 100%;
    height:300px;
}

.encabezado a{
    width: 180px;
    height: 30px;
    display: block;
    color: rgb(222, 198, 150);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 6px;
    border: rgb(222, 198, 150) solid 1px;
    text-align: center;
    &:hover{
        width: 180px;
        height: 30px;
        display: block;
        color: white;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 6px;
        border: rgb(222, 198, 150) solid 1px;
        text-align: center;
        background-color: rgb(222, 198, 150);
    }
}
/* fin header */

/* inicio main */
/* inicio famiglia borgia */
.famigliaBorgia{
    background-color: rgb(23, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
}

.famigliaBorgia h2{
    font-size: 24px;
    font-family: 'Prata', serif;
    width: 100%;
    text-align: center;
    color: rgb(222, 198, 150);
    margin-top: 50px;
}


.tarjetaFamigliaBorgia{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 50px;
}

.tarjetaFamigliaBorgiaPA{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        color: white;
        font-family: 'Prata', serif;;
        padding: 20px;
    }
    ul {
        margin-top: 20px;
        list-style: none;
        margin-bottom: 20px;
        li a{
            width: 180px;
            height: 30px;
            display: block;
            color: rgb(222, 198, 150);
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            padding: 6px;
            border: rgb(222, 198, 150) solid 1px;
            text-align: center;
            &:hover{
                width: 180px;
                height: 30px;
                display: block;
                background-color: rgb(222, 198, 150);
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                padding: 6px;
                border: rgb(222, 198, 150) solid 1px;
                text-align: center;
                color: white;
            }
        }
    }
}

.famigliaBorgia img{
    width: 300px;
    height: 400px;
    background-size: cover;

}
/* fin famiglia borgia */

/* inicio nuestrasEspecialidades */
.nuestrasEspecialidades{
    background-color: rgb(14, 13, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nuestrasEspecialidades h2{
    font-size: 24px;
    font-family: 'Prata', serif;
    width: 100%;
    text-align: center;
    color: rgb(222, 198, 150);
    margin-top: 50px;
}

.nuestrasEspecialidades p{
    font-family: 'Prata', serif;
    width: 100%;
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 14px;
}

.nuestrasEspecialidadesTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width:100%;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.nuestrasEspecialidadesTarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}

.nuestrasEspecialidadesTarjeta img{
    width: 300px;
    object-fit: cover;
}

.nuestrasEspecialidades ul li{
    list-style: none;
    a{
        width: 180px;
        height: 30px;
        display: block;
        color: rgb(222, 198, 150);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 6px;
        border: rgb(222, 198, 150) solid 1px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 20px;
        &:hover{
            width: 180px;
            height: 30px;
            display: block;
            background-color: rgb(222, 198, 150);
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            padding: 6px;
            border: rgb(222, 198, 150) solid 1px;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 20px;
            color: white;
        }
    }
}
/* fin nuestrasEspecialidades borgia */

/* inicio eventosPrivadosYCorporativos borgia */
.eventosPrivadosYCorporativos{
    background-color: rgb(23, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.eventosPrivadosYCorporativos h2{
    font-size: 24px;
    font-family: 'Prata', serif;
    width: 100%;
    text-align: center;
    color: rgb(222, 198, 150);
    margin-top: 50px;

}

.eventosPrivadosYCorporativos p{
    font-family: 'Prata', serif;
    width: 100%;
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 14px;
}

.eventosPrivadosYCorporativos a{
    width: 180px;
    height: 30px;
    display: block;
    color: rgb(222, 198, 150);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 6px;
    border: rgb(222, 198, 150) solid 1px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    &:hover{
        width: 180px;
        height: 30px;
        display: block;
        background-color: rgb(222, 198, 150);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 6px;
        border: rgb(222, 198, 150) solid 1px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        color: white;
    }
}

.carousel {
    background-color: rgb(23, 24, 24);
    padding: 20px;
}

.carousel-inner{
    width: 100%;
    height: 500px;
}

.carousel-item img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    background-color: rgb(23, 24, 24);
}
/* fin eventosPrivadosYCorporativos */
/* fin main */

/* inicio footer */
/* inicio reservas */
.footer{
    background-color: rgb(14, 13, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footerImg{
    margin-top: 50px;
    margin-bottom: 20px;
    img{
        height: 60px;
    }
}

.footerH2H3P{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: white;
    font-family: 'Prata', serif;
    font-size: 14px;
}

.footer a{
    width: 180px;
    height: 30px;
    display: block;
    color: rgb(222, 198, 150);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 6px;
    border: rgb(222, 198, 150) solid 1px;
    text-align: center;
    &:hover{
        width: 180px;
        height: 30px;
        display: block;
        background-color: rgb(222, 198, 150);
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 6px;
        border: rgb(222, 198, 150) solid 1px;
        text-align: center;
        color: white;
    }
}

.footerRedes{
    color: white;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}
/* fin reservas */
/* fin footer */

/* inicio eventosPrivadosYCorporativos.html */
/* inicio main */
.galeriaImagenes{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: rgb(222, 198, 150);
}

.galeriaImagenes div{
    width: auto;
    margin: 1px;
}

.img1{
    grid-column: 1/3;
    grid-row: 1/4;
    background-image: url(../multimedia./img./grid./DSC_1462.jpg);
    background-size: cover;
    background-position: center;
}

.img2{
    background-image: url(../multimedia./img./grid./DSC_1390.jpg);
    background-size: cover;
    grid-column: 3/4;
    grid-row: 1/3;
    background-position: center bottom;
}

.img3{
    background-image: url(../multimedia./img./grid./DSC_6456.jpg);
    background-size: cover;
    grid-column: 4/5;
    grid-row: 1/2;
    background-position: center;
}

.img4{
    background-image: url(../multimedia./img./grid./DSC_6417.jpg);
    background-size: cover;
    grid-column: 4/5;
    grid-row: 2/4;
    background-position: center top;
}

.img5{
    background-image: url(../multimedia./img./grid./DSC_6366.jpg);
    background-size: cover;
    grid-column: 3/4;
    grid-row: 3/4;
    background-position: center center;
}

/* fin eventosPrivadosYCorporativos.html */
/* fin main */

/* inicio pageMenu.html */
/* inicio main */

.nuestrasEspecialidadesPageMenu{
    width: auto;
    height: auto;
    background-color: rgb(23, 24, 24);
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.nuestrasEspecialidadesPageMenu a{
    width: 180px;
    height: 30px;
    display: block;
    color: rgb(222, 198, 150);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 6px;
    border: rgb(222, 198, 150) solid 1px;
    text-align: center;
}

.PageMenuCocktails{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/2;
}

.imgPagueMenuCocktails{
    width: 300px;
    height: 400px;
    background-image: url(../multimedia./img./especialidades/TRAGO.LUCRECIA.png);
    background-size: cover;
    background-position: center center;
}

.PageMenuMenu{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    grid-column: 2/3;

}

.imgPagueMenuMenu{
    width: 300px;
    height: 400px;
    background-image: url(../multimedia./img./especialidades/PLATO.LASANÌƒA.png);
    background-size: cover;
    background-position: center center;
}

.PageMenuCava{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    grid-column: 3/4;
}

.imgPagueMenuCava{
    width: 300px;
    height: 400px;
    background-image: url(../multimedia./img./especialidades/VINO.VINO.png);
    background-size: cover;
    background-position: center center;
}