*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "base";
@import "nav";
@import "header";
@import "famiglia";
@import "especialidades";
@import "eventos";
@import "footer";
@import "stylesEspecialidades";
@import "stylesEventos";
@import "stylesNosotros";